{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Notas</title>
    <link rel="stylesheet" href="{% static 'css/styleMain.css' %}">
    <script src="{% static 'js/menu-bar.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header style="height: 5rem;">
        <button style="font-size: 2rem; position: relative; margin-bottom: 0rem; left: -1.5rem;" id="menu-toggle" class="hamburguer">&#9776;</button>
        <img style="width: 4%;" src="{% static 'img/Logo1.png' %}" alt="">
    </header>

    <!-- Navegação oculta -->
    <nav id="sidebar">
        <ul>
            <li><ion-icon name="newspaper-outline"></ion-icon> <a href="{% url 'home' %}"> Dados do Usuário</a></li>
            <li><ion-icon name="person"></ion-icon> <a href="{% url 'alunos' 1%}">Alunos</a></li>   
            <li><a href="{% url 'logout' %}" class="btn-logout">Logout</a>  </li>
        </ul>
    </nav>
    <div class="container">
        <h1>Editar Notas</h1>
        <h2 style="margin-top:10px;">Aluno: {{ query_aluno.nome }}</h2>
        <form action="{% url 'editar_notas' query_notas.id query_aluno.id serie%}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Nota Parcial</label>
                <input type="number" step="0.1" name="Parcial" id="Parcial" placeholder="{{ query_notas.notaParcial }}">
            </div>
            <div class="form-group">
                <label for="">Nota Bimestral</label>
                <input type="number" step="0.1" name="Bimestral" id="Bimestral" placeholder="{{ query_notas.notaBimestral }}">
            </div>
            <div class="form-group">
                <label for="">Nota Conceito</label>
                <input type="number" step="0.1" name="Conceito" id="Conceito" placeholder="{{ query_notas.notaConceito }}">       
            </div>
            <div class="form-group">
                <label for="">Nota Extra</label>
                <input type="number" step="0.1" name="Extra" id="Extra" placeholder=" 0 ">       
            </div>
            <button type="submit" class="btn">Salvar</button>
        </form>
    </div>
    <footer>
        <p>&copy; 2025 Sistema Escolar - Todos os direitos reservados.</p>
    </footer>
</body>
</html>